@model Library.ViewModels.Branch.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">New Branch</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Name
                </th>
                <th>
                   Estabilished
                </th>
                <th>
                   Location
                </th>
                <th>
                   Telephone
                </th>
                <th>
                   Description
                </th>
                <th>
                    Image
                </th>
            
            <th></th>
    
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Branchs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estabilished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranchID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BranchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
